/*GOOGLE FONTS */
  /*Corben*/
  @import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');
  /*Poppins*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  /*Dancing Script*/
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
  /*Concert One*/
  @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@700&display=swap');

.navbar{
  background-color: rgba(4, 4, 139, 0);
  grid-area: navbar;
  font-size: 1800px;
  font-family: poppins;
  font-weight: 600;
  color:rgb(29, 0, 36);

}
.menu{
  color: rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-family: concert one;
  transition: all 1s;
  font-weight: 800;
  text-transform: uppercase;
}

.menu:hover{
  text-decoration: none;
  border-bottom: 3px  solid;
  border-radius: 1.5px 1.5px;
  border-bottom-color: rgba(255, 255, 255, 0.582);
  color:white;

}
.banner{
  height: 100vh;
  background-image: linear-gradient(#444243a8, rgba(255, 68, 0, 0.61)), url("/images/backgrounds/burgerBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: .20fr .50fr .5fr .20fr;
  grid-template-rows: .1fr .5fr .1fr;
  grid-template-areas: 
  "left-sidebar navbar navbar right-sidebar"
  "left-sidebar banner-info banner-image right-sidebar"
  "bottom-bar bottom-bar bottom-bar bottom-bar";
  background-attachment: fixed;
}

.banner-info{
  grid-area: banner-info;
  align-items: center;
  text-align: justify;
  padding:5px;
  padding-top: 100px;
  padding-right: 25px;
}

.banner-image{
  grid-area: banner-image;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  
}

 #burger{
   width:400px;

 }

.banner h1{
    font-family: Dancing Script;
    vertical-align: middle;
    font-size: 60px;
    color:white;
    font-weight:800;
}
.banner h2{
  font-family: concert one;
  color:orangered;
  font-size: 36px;
}

.banner p{
  font-family: 'Poppins';
  color: #f6cffe;
  font-size: 18px;
  word-spacing: -2px;
}

.banner button{
  background-color: rgb(255, 83, 4);
  border-radius: 3px;
  color:white;
  font-family: 'Poppins';
  font-size: 16px;
  border:rgb(248, 236, 236);
  padding:10px;
  font-weight: 800;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgb(54, 6, 6);
}

.left-sidebar{
  grid-area: left-sidebar;
}

.right-sidebar{
  grid-area: right-sidebar;
}

/*Burger Special*/

#burger-special{
  display: inline-flex;
  padding:50px;
  justify-content: center;
  align-items: center;

}

.burger-special-image{
  
  width: 50%;
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.burger-special-info{
  
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.603);
  box-shadow: 0px 0px 40px white;
}

#burger-special h1{
  font-size: 40px;
  font-family: "Special Elite";
}

.burger-special-info p{
  font-family: poppins;
  color: rgb(51, 50, 50);
}

.burger-special-info p span{
  
  font-family: poppins;
  color:white;
  font-weight: 800;
  text-transform: uppercase;
  background-color:  orangered;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: justify;
  border-radius: 3px;
}

.burger-special-info button{
  color:orangered;
  text-transform: uppercase;
  padding:10px;
  border-color: orangered;
  background-color: rgba(255, 255, 255, 0);
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: poppins;
}

#new-menu-items{
  background-color: rgb(233, 233, 233);
  display: inline-flex;
  padding: 5px;
}

#new-menu-items button{
  color:rgb(243, 239, 237);
  text-transform: uppercase;
  padding:10px;
  border-color:  rgb(253, 252, 251);
  background-color: rgba(255, 255, 255, 0);
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: poppins;
}

.new-menu-items-leftSide{
  
  padding:25px;
  margin-right: 5px;
  font-family: poppins;
  width:50%;
  color:rgb(168, 165, 165);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.new-menu-items-leftSide h1{
  color:rgb(255, 255, 255);
  font-family: special elite;
  font-weight: 800;
}

.new-menu-items-leftSide p span{
  
  font-family: poppins;
  color:white;
  font-weight: 800;
  text-transform: uppercase;
  background-color:  orangered;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: justify;
  border-radius: 3px;
}

.new-menu-items-leftSide h3{
  color:rgb(255, 255, 255);
  font-family: special elite;
  font-weight: 800;
}



#about{
  background-color: yellowgreen;
  height: 100vh;
  display: grid;
  grid-template-columns:  .25fr 1fr 1fr .25fr ;
  grid-template-rows: 1fr;
  grid-template-areas: "left-sidebar slider about-info right-sidebar ";
  padding:20px;
  grid-gap: 10px;
}

#about-info{
  grid-area: about-info;
  padding: 10px;
  border-radius: 5px;
  padding-left: 20px;
  height:300px;
  text-indent: 10px;
  font-family: poppins;
}

#about h1{
  text-align: center;
  font-size: 30px;
  font-family: Dancing Script;
}

#about h2{
  font-family: poppins;
}

#about p{
  font-family: poppins;
}

#burger-menu{
  background-color:rgb(65, 181, 235);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: "burger-left-side burger-middle-side burger-right-side";
  
}

.burger-left-side{
  grid-area: burger-left-side;
  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns:  1fr;
  grid-template-areas: "burger-pic"
                       "burger-heading"
                       "burger-info";
}

.burger-right-side{
  grid-area: burger-right-side;
  display: grid;
  background-color: aqua;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns:  1fr;
  grid-template-areas: "burger-pic"
                       "burger-heading"
                       "burger-info";

}

.burger-middle-side{
  grid-area: burger-middle-side;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns:  1fr;
  grid-template-areas: "burger-pic"
                       "burger-heading"
                       "burger-info";
}

.burger-info{
  grid-area: burger-info;
  text-align: center;
  color: black;
  padding: 10px;
  
  font-family: poppins;
}

.burger-info p{
  font-family: poppins;
  background-color: aqua;
}

.burger-heading{
  grid-area: burger-heading;
  font-family: concert one;
  color:orangered;
  font-size: 36px; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #992baf;
}

.burger-pic{
  grid-area: burger-pic;
 
  display: flex;
  align-items: center;
  justify-content: center;
}































#box2{
  background-color: rgb(119, 129, 125);
  grid-area: box2;
}

#box3{
  background-color: grey;
  grid-area: box3;
}

#icon1{
  background-color: pink;
  grid-area: icon1;
}

#icon2{
  background-color: red;
  grid-area: icon2;
}

.slider{
  height: 468px;
  overflow: hidden;
  display: grid;
  grid-template-columns: .05fr 80fr .05fr;
  grid-template-rows: .5fr;
  grid-template-areas: "leftButton images rightButton";
  grid-area: slider;
  background-color: yellowgreen;
  /*box-shadow: 2px 2px 20px green;*/
  border-radius: 2px;
}

#left{
  grid-area: leftButton;
  background-color: rgba(255, 255, 255, 0.582);
  font-family: poppins;
  font-weight: 800;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: rgba(0, 128, 0, 0);
  box-shadow:inset -.4em -0.8em 0 -0.35em rgba(0,0,0,0.17);
}

#right{
  grid-area: rightButton;
  background-color: rgba(255, 255, 255, 0.582);
  font-family: poppins;
  font-weight: 800;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: rgba(0, 128, 0, 0);
  box-shadow:inset -.4em -0.8em 0 -0.35em rgba(0,0,0,0.17);
}

#images{
  grid-area: images;
  object-fit: contain;
  width: 100%;
}

#burger-menu-pic{
  width:175px;
}



















/*






* {
  scroll-behavior: smooth;
  padding: 0px;
  box-sizing: border-box;
}

.vault {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: rgb(153, 148, 148);
  background-image: url('images/backgrounds/rustdoor.jpg');
  background-position: center;
  margin-left: 250px;
  -webkit-animation:openDoor 3s linear ;
  -moz-animation:  openDoor 3s linear ;
  animation: openDoor 3s linear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

#preloader{
  background-color: grey;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#noodle{
  position: absolute;
  animation: bounce 1.5s linear alternate,bounceforward 10s ease-in-out;
  animation-iteration-count: 5,5;
  
}









*/
/*
h1 {
  font-size: 20px;
  font-weight: bold;
  
}

p {
  font-size: 15px;
  color: black;
  font-family: "Times Roman";
}

h2 {
  font-size:14px;
  color:rgb(114, 65, 0);
  font-weight: bold;
  font-family: "Special Elite";
} */

#dinnerMenu {
  background-image: url('images/backgrounds/menubg.jpg');
  padding:10px;
  border: 20px;
  border-color:black;
  box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.651);
  background-attachment: fixed;
}

#gallery {
  padding: 10px;
  background: 
    linear-gradient(
      rgba(209, 200, 200, 0.906), 
      rgba(255, 255, 255, 0.45)
    ), url('images/backgrounds/rest.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}



/*#about {
  padding:10px;
  margin:auto;
  background-attachment: fixed;
  align-content: center;
}

#about .colleft{

  color:rgb(255, 255, 255);
  padding: 10px;
  align-content: center;
  text-align: center;
  width: 45%;
  margin:auto;
  
}

#about .colright {
  color:rgb(0, 0, 0);
  padding: 10px;
  align-content: center;
  text-align: center;
  width: 55%;
  margin: auto;
}


#footermenu {
  background-color: white;
  background-attachment: fixed;
  font-family: "Special Elite";
  color: rgb(101, 101, 101);
  margin:auto;
  background: cover;
  align-content: center;
}




*/


@media screen and (max-width: 950px) 
{
  .banner{
    height: auto;
    background-image: linear-gradient(#444243a8, #91211dc2), url("/images/backgrounds/burgerBanner.jpg");
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr .5fr 0fr ;
    grid-template-areas: 
    "left-sidebar" "navbar" "right-sidebar"
    "banner-info" "banner-image";
  }

  .burger-left-side{
    grid-area: burger-left-side;
   
    display: grid;
    grid-template-rows: .25fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "burger-heading"
                         "burger-pic" 
                         "burger-info";
  }
  
  .burger-right-side{
    grid-area: burger-right-side;
    
    display: grid;
    grid-template-rows: .25fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "burger-heading"
                         "burger-pic" 
                         "burger-info";
  }

  #burger-menu{
    background-color:white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: "burger-left-side burger-right-side";
    
  }

  .burger-heading{
    grid-area: burger-heading;
    font-family: concert one;
    color:orangered;
    font-size: 30px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
  }

  .burger-info{
    grid-area: burger-info;
    text-align: center;
    color: black;
    padding: 10px;
    font-family: poppins;
    background-color: white;
  }
  
  .burger-pic{
    grid-area: burger-pic;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  #about{
    background-color: yellowgreen;
    height: auto;
    display: grid;
    grid-template-columns:  1fr ;
    grid-template-rows: .0fr 1fr 1fr .0fr;
    grid-template-areas: "left-sidebar" 
                         "slider"
                         "about-info"
                         "right-sidebar" ;
    padding:20px;
  }


  
}

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav {width:175px; }
}

@media screen and (max-height: 450px) {
  .main {padding-top: 15px;}
  .main{font-size: 50%;}
}

@keyframes display{
  from{display: none;}
    to{display: flex;}
}


/* Key Frames */
/*opens intro doors
@keyframes openDoor
{
  from
  {
    left:0;
  }

  to
  {
    left: 82%;
  }
}

@keyframes vanish{
  100%
  {
    opacity: 0;
    visibility: hidden;
  }
}

/*spin
@-webkit-keyframes spin
{
  100%
  {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin
{
  100%
  {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
  
}

@keyframes bounce{
  100%{transform: translateY(30px);}
    0%{transform: translateY(-30px);}
}

@keyframes bounceforward{
  100%{transform: translateX(-200px);}
    0%{transform: translateX(200px);}
}





